$background-color: #fff;
$color: #384241;
$header-height: 60px;
$transition-duration: 0.3s;

$desktop-padding: 40px;
$mobile-padding: 20px;

$desktop-margin: 12px;
$mobile-margin: 6px;

// Scale factor
$mx: 1;
$my: 4;
